body {
  font-family: "Mukta", sans-serif;
  background-color: #008080;
  color: #000000;
}

.container {
  background-color: #7fffd4;
  background-image: url("../images/seaBackground.png");
  background-size: cover;
  width: 100%;
}

.start-button {
  outline: none;
  border: none;
  cursor: pointer;
  display: block;
  position: relative;
  background-color: #00ffff;
  font-size: 1.833em;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  padding: 2.083em;
  border-radius: 1.667em;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0.5em;
}

.start-button:hover {
  box-shadow: 0 0.333em;
  top: 0.167em;
}

.start-button:active {
  box-shadow: 0 0;
  top: 0.5em;
}

.letter-section {
  background-color: #3cb371;
}

.letter-spots {
  letter-spacing: 0.5em;
  font-size: 1.25em;
}
